@mixin basic {
	* {
		margin: 0;
      padding: 0;
      font-family: $main-font;
      font-weight: 300;

		-webkit-box-sizing: border-box;
	  	   -moz-box-sizing: border-box;
	  			box-sizing: border-box;
	}
}

@mixin utility {
	::placeholder, select {
		font-size: 1rem;
	}
	
	.btn {
		padding: 1rem 2rem;
		background: white;
		border: 1px solid $hover-color;
		border-radius: 30px;
		text-decoration: none;
		color: $font-color;
		margin-right: 3rem;
	}
	
	.bg-color-1 {
		background: $color-1;
	}
	
	.bg-color-2 {
		background: $color-2;
	}
	
	.hidden {
		visibility: hidden;
	}
	
	.font-color {
		color: $font-color;
	}
	
	.font-color-1 {
		color: $color-1;
	}
	
	.btn:hover {
		background: $hover-color;
		color: white;
	}
}

@mixin medium-devices {
	@media screen and (min-width: 770px) and (max-width: 1199px) {
		.intro {
	
			&-content {
		
				h1 {
					font-size: 4.2rem;
					letter-spacing: 0.3px;
				}
			}
		}

		.filters {

			ul {
				padding-right: 5.5rem;
			}
		}

		.images {
			height: 65rem;
			&-content {

				.image-container {
					width: 45%;
					height: 300px;
					overflow: hidden;
					
					img {
						height: 350px;;
					}
				}
			}
		}

		.pricing {
			height: 24rem;

			&-content {
				width: 70%;
				padding: 2rem;
			}
		}

		.contact {
			height: 46rem;

			&-content {
				flex-direction: column;
				align-items: center;
				width: 80%;
				height: 80%;
				margin: 2rem auto;

				.google-map {
					width: 60%;

					iframe {
						height: 300px;
					}
				}
				
				form {
					width: 100%;
					margin-top: 2rem;
					height: 260px;
				}
			}
		}
	}

}

@mixin small-devices {
	@media screen and (max-width: 769px) {


		.navbar {
			height: 100%;
			flex-direction: column;

			.location {
				height: 5rem;
			}

			.main-nav {
				height: 20rem;
				
				ul {
					flex-direction: column;
					justify-content: center;

					li {
						margin: 0 0 2.5rem 0;

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}

						a {
							font-size: 1.4rem;
						}
					}
				}
			}
		}

		.intro {
			background: black;
			height: 13.5rem;
			
			&-content {
				background: none;
				width: 100%;
				margin-bottom: 1.5rem;
			}
		}

		.filters {

			ul {
				padding: 0;
				justify-content: center;
				li {

					&:last-child {

						a.btn {
						margin-right: 0;
					
						}
					}
				}
			}
		}

		.images {
			height: 90rem;

			&-content {
				width: 70%;
				margin: auto;

				.image-container {
					width: 100%;
					height: 200px;
					overflow: hidden;
					margin-right: 0;
					margin-bottom: 2rem;

					.image-description {
						margin: 0.5rem 0 0 1rem;
					}
					
					&:last-child {
						margin-bottom: 2rem;
					}
		
					&:nth-child(5) {
						margin-bottom: 2rem;
					}

					img {
						width: 100%;
						height: 300px;
					}
				}
			}
		}

		.pricing {
			height: 17rem;
			table {
				display: none;
			}

			a.btn {
				display: inline-block;
				margin-right: 0;
				margin-top: 1.8rem;
			}
		}

		.contact {
			height: 46rem;

			&-content {
				flex-direction: column;
				align-items: center;
				width: 95%;
				height: 80%;
				margin: 2rem auto;

				.google-map {
					width: 70%;

					iframe {
						height: 300px;
					}
				}
				
				form {
					width: 100%;
					margin-top: 2rem;
					height: 260px;
				}
			}
		}
	}
}

@mixin very-small-devices {
	@media screen and (max-width: 549px) {
		.intro {
			&-content {
				height: 10.5rem;
				h1 {
					font-size: 3rem;
				}
			}
		}

		.filters {
			ul {
				padding: 0;
				justify-content: center;
				li {

					a.btn {
						margin-right: 1rem;
						padding: 0.7rem 1.4rem;
					}

					&:last-child {

						a.btn {
						margin-right: 0;
					
						}
					}
				}
			}
		}

		.pricing {
			&-content {
				h2 {
					text-align: center;
				}
			}
			table {
			}
			a.btn {
				padding: 0.5rem 1rem;
				text-align: center;

			}
		}

		.images {
			height: 90rem;
			&-content {
				width: 90%;
				margin: auto;
				.image-container {
					width: 100%;
					height: 200px;
					overflow: hidden;
					margin-right: 0;
					margin-bottom: 2rem;
					.image-description {
						margin: 0.5rem 0 0 1rem;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}