@mixin basic {
	* {
		margin: 0;
      padding: 0;
      font-family: $main-font;
      font-weight: 300;

		-webkit-box-sizing: border-box;
	  	   -moz-box-sizing: border-box;
	  			box-sizing: border-box;
	}
}