@mixin boxSizing{
	-webkit-box-sizing: border-box;
	  	   -moz-box-sizing: border-box;
	  			box-sizing: border-box;
}

@mixin clearfix {
	&:before, &:after {
	    content: "";
	    display: block;
	}
	&:after {
	    clear: both;
	}
}

@mixin paddingAndMargins {
  padding: 2em 20%;

}

@mixin paddingAndMarginsM {
    padding: 2em 10%;
  
  }

  @mixin paddingAndMarginsS {
    padding: 2em 2%;
  
  }
