@mixin clearfix{
    &:before, &:after {
	    content: "";
	    display: block;
	}
	&:after {
	    clear: both;
	}
}

@mixin box-sizing{
    -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
}