$main-orange-color:#f75311;
$header-footer-main-color: #374249;
$main-font-color:#797979;
$main-headings-color:#374249;
$hover-buttons-color:#cfd1d3;
$text-buttons-color:#7a7d81;
$sections-background-color:#f3f7f9;
$font:'Roboto', sans-serif;
$opacity-header-div:rgba(55, 66, 73, 0.7);
$text-color-white:#ffffff;