@import 'mixin';
@import 'varijable';



@include html;


nav{
    background-color: $siva;
    width: 100%;
    height: 3em;
    display: block;
    float: left;

    a{
        color: $bela;
    }

    div{
        display: inline-block;
    }

    .levo{
        width: 30%;
        padding-left: 3%;
        float: left;
        height: 100%;
        padding-top: 0.5%;
        background-color: $naradzasta;

        & a{
            font-size: 1.5em;
            margin-top: 2%;
            display: inline-block;
        }

        img{
            width: 13%;
            float: left;
        }    
    }

    .desno{
        width: 69%;
        height: 100%;
        float: left;

        a{
            text-decoration: none;
            display: block;
            height: 100%;
            width: 10%;
            text-align: center;
            float: left;
            padding-top: 1.6%;

            &:hover {
                text-decoration: underline;
            }
            
        }
    }
}

header{
    text-align: center;
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30em;
    float: left;
    width: 100%;
    padding-top: 25%;

    div{
        background: rgba(0, 0, 0, 0.4);
        width: 70%;
        color: $bela;
        margin: auto;

        h1{
            font-size: 2em;
            color: $bela;
        }

        p{
            color: $bela;
        }
    }
}

.prvi{
        width: 85%;
        float: left;
        margin: 2% 0;;

        button{
            float: right;
            border: 1px solid gray;
            padding: 1%;
            background-color: $bela;
            margin: 1%;
            border-radius: 40px;
            cursor: pointer;

            &:hover{
                color: $bela;
                background-color: $siva;
            }
        }
}

.slike{ 
    float: left;
    width: 100%;
    background-color: $sekcije;
    padding: 10% 15% 3% 5%;

    div{
        width: 21%;
        margin-left: 2%;
        display: block;
        float: left;
        height: 15em;
        margin-bottom: 2%;
        position: relative;

        &:first-child &:first-child{
            margin-left: 0;
        }   

        &:hover p{
            visibility: visible;
        }
    
        & p{
            visibility: hidden;
            position: absolute;
            top: 0;
            color: black;
            font-size: 1.5em;
            height: 4em;
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
        }

        & img{
            width: 100%;
            max-height: 100%;

        }

        
    }
}

.tabela{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    height: 25em;
    width: 100%;
    text-align: center;
    padding: 10% 25% 15%;

    h2{
        color: black;
        margin-top: 5%;
        text-transform: uppercase;
    }

    p{
        margin-top: 5%;
        color: gray;
    }


    table{
        text-align: center;
        margin-top: 5%;
        border-collapse: collapse;
        width: 90%;
        margin-left: 5%;

        td{
            border: 1px solid gray;
        line-height: 2em;

            &.crvena{
                background: $naradzasta;
                color: $bela;
            }

            &.siva{
                background: darkgray;
                color: white;
            }

            &.none{
                border: none;            
            }
        }
        
    }

}

.zaglavlje{

    display: block;
    float: left;
    width: 100%;
    background-color: $sekcije;

        & .unutra{
            width: 80%;
            margin: 2% auto;
        }

        & .maps {
        height: 150px;
        width: 20%;
        display: block;
        float: left;
    }
    

    #map {
        height: 400px;
        width: 100%;  
       }

    form{
        background-color: $naradzasta;
        width: 50%;
        display: block;
        padding: 3%;
        float: right;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    [type=text]{
        padding-left: 1%;
        width: 74%;
    }

    h2{
        text-transform: uppercase;
        text-align: center;
    }

    input{
        line-height: 1.5em;
    }

    select{
        width: 25%;
        padding: 0.3em;
        display: inline-block;

    }

    [type=email]{
        display: block;
        width: 100%;
        margin-top: 3%;
        padding-left: 1%;

    }

    textarea{
        width: 100%;
        margin-top: 3%;
        padding-left: 1%;

    }
}

footer{
    float: left;
    width: 100%;
    text-align: center;
    background-color: $naslovi;

    p{
        line-height: 2em;
        color: $bela;
    }

    span{
        color: $crvena;
    }
}