@import 'var';
@import 'mixins';

*{
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	@include boxSizing;
}

body {
    height: auto;
}

section {
    height: auto;
    width:100%;
}

nav {
    height: 4em;
    width:100%;
    
    .home {
        float: left;
        height: 100%;
        width: 20%;
        background-color: $orange;
        color: white;
        font-size: 1.3em;
        padding: 1em;
        position: relative;
        p {
            display: inline-block;
            margin: auto;
            text-decoration: underline;
            img {
                width: 15%;
                margin-bottom: -12px;
            }

        }
    }
    ul {
        float: left;
        height: 100%;
        width: 80%;
        margin-top: 0;
        background-color: $headerAndFooterBlue;
        padding: 1.2em 0;
        li{
            display: inline-block;
            margin-top: 0.3em;
            margin-left: 1.2em;
            margin-right: 2em;

            a {
                color: white;
                text-decoration: none;
                font-size: 1em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.intro {
    height: 50em;
    
    background-image: url('../slike/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .wrap1 {
        width: 70%;
        background-color: rgb(55, 66, 73, 0.5);
        text-align: center;
        padding: 0.5em;
        color: white;
        position:relative;
        top: 70%;
        margin:0 auto;
        
        h1 {
              font-size: 3em;
              font-weight: 300;
             }
        h3 {
            font-size: 1em;
            font-weight: 200;
        }     
    }
    
}

.search {

    .searchfilter {
        @include clearfix;
        padding: 1.5em;
        ul {
            float:right;
            width: auto;
            margin-right: 15%;
            li {
                display: inline-block;
                color: $fontcolor;
                font-size: 1em;
                padding: 0.5em 1em;
                border: $hoverColor solid 1px;
                border-radius: 25px;
                margin-left: 20px;
                &:hover {
                    background-color: $hoverColor;
                    color: white;
                }
                }
            }
        }
    .searchResults {
        background-color: $sectionBG;
        display: flex;
        flex-wrap: wrap;
       @include paddingAndMargins;
        .result {
            height: 20em;
            width: 16em;
            margin: 0.6em;
            position: relative;
            &:hover .price {
              display: block;
               }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .price {
                position: absolute;
                width: 100%;
                background-color:  rgba(255, 255, 255, 0.6);
                padding: 0.5em 0.5em 2em;
                font-size: 1.5em;
                color: $HColor;
                display: none;

            }
        }
    }
}

h2 {
    color: $HColor;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;

}

.pricing {
    @include paddingAndMargins;
    p {
        font-size: 1em;
        color: $fontcolor;
        text-align: center;
        margin-bottom: 2em;
    }
    table {
        padding: 0.5em;
        margin: 0 auto;
        width: 70%;
        
        &, tr, td { border-bottom: solid $fontcolor 1px;
                    border-right: solid $fontcolor 1px; 
                    border-collapse: collapse;
                    padding: 0.5em;
                    text-align: center;
                    
         }
         .white {
             border:none;
         }
         .orange {
             background-color: $orange;
             border: solid $fontcolor 1px;
             color: white;
         }

         .location {
            width:20%;
         }

         .gray {
            background-color: $headerAndFooterBlue;
            border: solid $fontcolor 1px;
            color: white;
         }

         .left {
            width:25%;
         }

         .price {
            width:30%;
         }
    }

}

.ContactUs {
    background-color: $sectionBG;
    @include paddingAndMargins;
    @include clearfix;
    iframe {
        float:left;
        width: 25%;
        height: 17em;
    }
    form {
        float: right;
        background-color: $orange;
        width: 60%;
        padding: 1em;
        select {
            width: 15%;
            margin-bottom: 1em;
        }
        input[name="name"] {
            float: right;
            width:80%;
            margin-bottom: 1em;
        }
        input[name="email"] {
            width:100%;
            margin-bottom: 1em;
        }
        textarea {
            width: 100%;
            height: 6em;
            margin-bottom: -4px;
        }
    }

}

footer {
    width:100%;
    background-color: $headerAndFooterBlue;
    padding: 0.5em;
    p {
        color:white;
        font-size: 0.8em;
        text-align: center;
        span {
            color:$orange;
        }
    }

}

@media screen and (max-width: 1000px) { //820
    .ContactUs, .pricing{
        @include paddingAndMarginsM;
    }

    .ContactUs {
        iframe {
            float:none;
            display: block;
            width: 50%;
            height: 17em;
            margin: 0 auto;
        }
        form {
            float:none;
            clear: both;
            width: 100%;
            margin-top: 2em;
        }
    }
    .pricing {
        table {
            width: 100%;
        }
    }

    .search {
        .searchResults {
            @include paddingAndMarginsM;
            justify-content: center;
            .result {
                height: 16em;
                   }
        }
        .searchfilter {
            ul {
                margin-right: 12%;
            }
        }
    }
    nav {       
        .home {
            p {
                margin-bottom: 6px;
                img {
                    width: 30%;
                    margin-bottom: -11px;
                    margin-left: -10px;
                }
    
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .ContactUs, .pricing{
        @include paddingAndMarginsS;
    }
    .ContactUs {
        iframe {
            float:none;
            display: block;
            width: 100%;
            height: 17em;
            margin: 0 auto;
        }
        form {
            float:none;
            clear: both;
            width: 100%;
            margin-top: 2em;
        }
    }
    .pricing {
        table {
            width: 100%;
        }
    }

    .search {
        .searchResults {
            @include paddingAndMarginsS;
            justify-content: center;
            .result {
                width: 100%;
                height: 16em;
                   }
        }
        .searchfilter {
            ul {
                margin: 0 auto;
                li{
                    margin-left: 13px;
                    margin-right: 13px;
                }
            }
        }
    }
    .intro {
            height: auto;
            background-image: none;
            background-color: black;
            .wrap1 {
                width: 100%;
                text-align: center;
                padding: 0.5em;
                color: white;
                position:relative;
                top: 5%;
                }     
            }
    nav {
    height: 4em;
    width:100%;
    
    .home {
        float: left;
        height: 100%;
        width: 20%;
        background-color: $orange;
        color: white;
        font-size: 1.3em;
        padding: 1em;
        position: relative;
        p {
            display: inline-block;
            margin: auto;
            text-decoration: underline;
            img {
                width: 15%;
                margin-bottom: -12px;
            }

        }
    }
    ul {
        float: left;
        height: 100%;
        width: 80%;
        margin-top: 0;
        background-color: $headerAndFooterBlue;
        padding: 1.2em 0;
        li{
            display: inline-block;
            margin-top: 0.3em;
            margin-left: 1.2em;
            margin-right: 2em;

            a {
                color: white;
                text-decoration: none;
                font-size: 1em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}        
nav {
    height: auto;
    width:100%;
    
    .home {
        float: none;
        width: 100%;
        p {
            margin-bottom: 6px;
            img {
                width: 20%;
                margin-bottom: -16px;
            }

        }
    }
    ul {
        float: none;
        width: 100%;
        text-align: center;
       // margin-top: 0;
       // background-color: $headerAndFooterBlue;
       //     padding: 1.2em 0;
        li{
            display: block;
            padding: 0.5em 0;
           // margin-top: 0.3em;
          //  margin-left: 1.2em;
         //   margin-right: 2em;


        }
    }
}        
    
    
    
}