@import "vars";
@import "mixins";

*{
    padding: 0;
    margin: 0;
    font-family: $font;
    @include boxSizing;
}

nav {

    .location {
        padding-right: 7em;
        background-color: $locationColor;
        text-decoration: underline;
      
        i {
          margin-right: 10px;
        }
      }

    ul {
        width: 100%;
        list-style: none;
        background-color: $DarkBlue;
    
        @include clearfix;

        li {
        float: left;
        padding: 15px 25px;
    
            &:hover {
                background-color: $hoverColor;
                text-decoration: underline;
            }
        }
    
        a {
        text-decoration: none;
        color: $White;
        }
    }
}
.firstSection {
    background-color: #000;
    color: $White;
    text-align: center;
    padding: 3em 0;
  
    h1 {
      font-size: 2.5em;
    }
  }
  
  .secondSection ul {
    list-style: none;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    @include clearfix;
  
    li {
      margin: 0 10px;
      display: inline-block;
    }
  
    button {
      background-color: white;
      border: 1px solid $Gray;
      padding: 10px;
      border-radius: 15px;
  
      &:hover {
        background-color: $Gray;
        color: $White;
      }
    }
  }
  
  .gallery {
    padding: 30px 10px;
    background-color: $backgroundColor;
    width: 100%;
    
  }
  
  @for $i from 1 through 6 {
    .box#{$i} {
      background-image: url("../slike/#{$i}.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      width: 200px;
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      display: inline-block;
      
  
      .price {
        position: absolute;
        width: 100%;
        display: none;
      }
  
      &:hover {
        .price {
          display: unset;
          top: 0;
          left: 0;
          background-color: rgba($White, 0.5);
          padding: 20px 10px;
  
          p {
            font-size: 1.5em;
          }
        }
      }
    }
  }
  
  h2,
  .thirdSection p,
  h3 {
    color: $DarkBlue;
    text-align: center;
  }
  
  h2,
  h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 20px 0;
  }
  
  table,
  td,
  th {
    border: 1px solid gray;
    border-collapse: collapse;
  }
  
  .noBorder {
    border: none;
  }
  
  table {
    margin: 30px auto;
    empty-cells: hide;
    border-top: none;
    border-left: none;
    text-align: center;
    width: 60%;
    td,
    th {
      padding: 10px;
    }
  }
  
  .thOrange {
    background-color: $locationColor;
    color: $White;
  }
  
  .thGray {
    background-color: $DarkBlue;
    color: $White;
  }
  
  .checkThePrice {
    display: none;
  }
  
  .googleMap {
    padding: 30px 0 20px 70px;
    display: inline-block;
    height: 350px;
    width: 48%;
  }
  
  .form {
    float: right;
    padding: 30px;
    width: 48%;
    @include clearfix;
  }
  
  form {
    padding: 30px;
    background-color: $locationColor;
    border-radius: 5px;
  
  
    input,
    textarea,
    select {
      padding: 5px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid $Gray;
    }
  
    #gender {
      width: 30%;
    }
  
    #name {
      width: 69%;
    }
  
    #email {
      display: block;
      width: 100%;
    }
  
    #msg {
      display: block;
      width: 100%;
    }
  }
  
  footer {
    background-color: $DarkBlue;
    padding: 15px;
    text-align: center;
  
    p {
      color: rgba($White, 0.5);
      display: inline-block;
    }
  }
  
  .orange {
    color: $locationColor;
  }
  
  @media only screen and (max-width: 600px) {
    nav ul {
      clear: both;
  
      li {
        padding-top: 10px;
        float: none;
        text-align: center;
      }
    }
  
    #location {
      text-align: left;
      width: 100%;
    }
  
    .thirdSection {
      padding: 30px;
    }
  
    table {
      display: none;
    }
  
    .checkThePrice {
      display: block;
      padding: 10px 15px;
      border: 1px solid $Gray;
      border-radius: 10px;
      color: $Gray;
      background-color: $White;
      margin: 20px auto;
  
      &:hover {
        background-color: $DarkBlue;
        color: $White;
        border: none;
        cursor: pointer;
      }
    }
  
    .googleMap {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
  
      iframe {
        width: 60%;
      }
    }
  
    .form {
      float: unset;
      width: 100%;
  
      #gender {
        width: 100%;
      }
  
      #name {
        width: 100%;
      }
    }
  }