$orange: #f75311;
$header-footer: #374249;
$font-color: #797979;
$hover-button: #cfd1d3;
$section-color: #f3f7f9;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font: "Roboto", sans-serif;
