$orange: #f75311;
$header-footer: #374249;
$font-color: #797979;
$hover-button: #cfd1d3;
$section-color: #f3f7f9;
$title-color: #374249;
$header-footer-text-background: rgba(55, 66, 73, 0.7);
$description-background: rgba(255, 255, 255, 0.7);

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$font: "Roboto", sans-serif;
