@import "vars";
@import "mixins";

* {
  font-family: $font;
  margin: 0;
  padding: 0;
}

header {
  background-color: $header-footer;
  nav {
    width: 100%;
    height: auto;
    li {
      display: inline-block;
      padding: 12px 36px 12px 12px;
      &.firstElement {
        background-color: $orange;
        padding-right: 96px;
      }

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
