@import "vars";
@import "mixins";

* {
  font-family: $font;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

header {
  background-color: $header-footer;
  nav {
    width: 100%;
    height: auto;
    li {
      display: inline-block;
      padding: 12px 36px 12px 12px;
      &.firstElement {
        background-color: $orange;
        padding-right: 96px;
      }

      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .header-container {
    background-image: url("slike/intro.jpg");
    height: 40em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    .text {
      position: absolute;
      text-align: center;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background-color: $header-footer-text-background;
      width: 60%;
    }
  }
}
.filters {
  display: inline-block;
  margin-left: 65%;
  margin-top: 15px;
  margin-bottom: 15px;
  button {
    padding: 15px;
    border: 0.5px solid $font-color;
    border-radius: 20px;
    background-color: white;
    color: $font-color;
    margin-left: 20px;
    &:hover {
      background-color: $hover-button;
      color: white;
    }
  }
}
.section2 {
  background-color: $section-color;
  padding: 30px;
  .images {
    width: 70%;
    margin: auto;
    .image-wrap {
      display: inline-block;
      width: 23%;
      position: relative;
      margin-left: 10px;
      margin-top: 10px;

      &:hover .image-description {
        visibility: visible;
      }
      img {
        width: 100%;
        height: 300px;
      }
      .image-description {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $description-background;
        width: 100%;
        height: 120px;
        padding: 10px 0px 0px 10px;
      }
    }
  }
}
.section3 {
  width: 100%;
  padding: 40px;

  .text-table {
    width: 70%;

    margin: auto;
    .pricing {
      color: $title-color;
      text-align: center;
      h4 {
        padding: 20px;
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;

      td,
      th {
        border: 1px solid $title-color;
        border-spacing: 0px;
        padding: 5px;

        color: $title-color;
        &.orange {
          background-color: $orange;
          color: white;
          width: 200px;
        }
        &.grey {
          background-color: $title-color;
          color: white;
        }
        &:empty {
          border: 0;
        }
      }
    }
  }
}

.section4 {
  background-color: $section-color;
  width: 100%;
  padding-bottom: 30px;

  h1 {
    color: $title-color;
    text-align: center;
    padding: 20px;
  }

  .map-form {
    margin: auto;
    width: 70%;
    position: relative;

    .map {
      display: inline-block;
      width: 30%;
      iframe {
        display: inline-block;
        width: 100%;
      }
    }

    .form {
      display: inline-block;
      width: 50%;
      margin-left: 70px;
      background-color: $orange;
      padding: 15px;
      position: absolute;

      form {
        text-align: justify;
        select {
          width: 26%;
        }
        input[type="text"] {
          width: 70%;
        }
        input[type="email"] {
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        textarea {
          width: 100%;
        }
      }
    }
  }
}

footer {
  background-color: $header-footer;
  color: white;
  margin: auto;
  text-align: center;
  padding: 10px;
  .orange-footer {
    display: inline-block;
    color: $orange;
  }
}
